In [1]:
import pandas as pd
import numpy as np

In [2]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [3]:
left

   key  lval
0  foo     1
1  foo     2

In [4]:
right

   key  rval
0  foo     4
1  foo     5

In [5]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [7]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                         'foo', 'bar', 'foo', 'foo'],
                    'B': ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                    'C': np.random.randn(8),
                    'D': np.random.randn(8)})
df

     A      B         C         D
0  foo    one -0.409809  0.109309
1  bar    one -0.276416 -0.827325
2  foo    two -1.122492  2.043094
3  bar  three  1.583824 -0.386051
4  foo    two  0.611269  0.592034
5  bar    two -0.081571 -1.419518
6  foo    one -0.162121 -0.940141
7  foo  three -0.078652 -2.214016

In [9]:
df.groupby(['A', 'B']).sum()

                  C         D
A   B
bar one   -0.276416 -0.827325
    three  1.583824 -0.386051
    two   -0.081571 -1.419518
foo one   -0.571931 -0.830832
    three -0.078652 -2.214016
    two   -0.511222  2.635128